{% extends "base.html" %}

{% block title %}Spielerbörse{% endblock %}
{% block headline %}Spielerbörse (Verfügbares Geld: {{ userinfo.money|int }}€){% endblock %}


{% block content %}
<table id="market_data" class="table table-borderless table-sm table-hover">
    <thead>
    <tr>
        <th scope="col">Nickname</th>
        <th scope="col">Position</th>
        <th scope="col">Mechanische Fähigkeit</th>
        <th scope="col">Strategische Fähigkeit</th>
        <th scope="col">Spielkenntnis</th>
        <th scope="col">Reaktion</th>
        <th scope="col">Preis</th>
    </tr>
    </thead>
    <tbody>
    <!--{% for player in players %}
        <tr>
            <td>{{ player.nickname }}</td>
            <td>{{ player.position }}</td>
            <td>{{ player.mechanical_skill }}</td>
            <td>{{ player.tactical_skill }}</td>
            <td>{{ player.game_knowledge }}</td>
            <td>{{ player.reaction }}</td>
            <td>{{ player.value }}</td>
            <td><a class="btn btn-outline-light btn-sm" href="/buy/{{ player.id }}" role="button">Kaufen</a></td>
        </tr>
    {% endfor %}-->
    </tbody>
</table>
{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function () {
      $('#market_data').DataTable({
        ajax: '/market/data',
        serverSide: true,
        language: {
            searchPlaceholder: "Position oder Name",
            "search": "Filter:",
            "thousands": ".",
            "info":  "Zeige _START_ bis _END_ von _TOTAL_ ",
            "infoFiltered": "",
            "lengthMenu": "Zeige _MENU_ Spieler",
            "paginate": {
            "first": "Erste",
            "last": "Letzte",
            "next": "Nächste",
            "previous": "Vorherige",
            "zeroRecords": "Keine passenden Spieler gefunden",
            },
        },
        "pageLength": 25,
        columns: [
          {data: 'nickname'},
          {data: 'position'},
          {data: 'mechanical_skill'},
          {data: 'tactical_skill',},
          {data: 'game_knowledge'},
          {data: 'reaction'},
          {data: 'value'}
        ],

      });
    });


</script>
{% endblock %}